body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333333ad;
    background-image: none;
    background-size: cover;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: background-image 0.5s ease-in-out;
}

.homepage h1 {
    margin-top: 1rem;
    font-size: 50px;
    margin-right: 60px;
    color: #ffffff49;
    margin-bottom: 15px;
}

.homepage h1:hover {
    color: #ffffff94;
    font-weight: bold;
}

.homepage-img {
    margin-top: 5px;
    text-align: left;
    width: 60px;    
    height: auto;
}

.datetime {
    font-size: 20px;
    color: #ffffff49;
    margin-right: 50px;
    text-align: left;
    align-self: center!important;
}

.datetime:hover {
    color: #ffffff94;
    font-weight: bold;
}

.datetime-img {
    text-align: left;
    width: 30px;
    height: auto;
}

.belldata {
    font-size: 30px;
    color: #ffffff49;
    margin-right: 50px;
}

.belldata:hover {
    color: #ffffff94;
    font-weight: bold;
}

.belldata-img {
    text-align: left;
    width: 50px;
    height: auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.top-card-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.portfoliodata {
    font-size: 25px;
    color: #ffffff49;
    margin-right: 50px;
}

.portfoliodata:hover {
    color: #ffffff94;
    font-weight: bold;
}

.portfoliodata-img {
    text-align: left;
    width: 50px;
    height: auto;

}

.searchbar textarea{
    text-align: left;
    width: 200%;
    padding: 10px 25px;
    border: none;
    background-color: #ffffff2e;
    color: #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    background-image: url('/assets/google_icon.png');
    background-size: 30px;
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: 7px;
    color: #ffffff00;
    backdrop-filter: blur(0.5rem);
    resize: none;
    font-weight: bold;
}

.searchbar textarea:focus{
    background-color: #ffffff2e;
    border: none;
    outline: none;
    background-image: none;
    color: #3a6a38;
    backdrop-filter: blur(0.5rem);
}

.searchbar {
    position: absolute;
    bottom: 25rem;
    left: 36.5rem; 
}

.centered-children {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bookmarks {
    text-align: center;
    position: absolute;
    margin-top: 350px;
    left: 3rem;
    width: 200px;
    height: 400px;
    border: none;
    background-color: #ffffff2e;
    color: #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(0.5rem);
    flex-direction: column; 
    align-items: center;
}

.bookmark {
    border: none;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    border-bottom: 0.25rem solid #ffffffb2;
    width:140px;
    margin-bottom: 0.7rem;
}

.bookmark:hover {
    font-weight: bold;
}

.bookmark div:hover + .bookmark-options {
    display: flex;
    width: 12.5rem;
    padding-bottom: 0.5rem;
    color: #333;
    margin-left: 4.5rem;
    gap: 0.75rem;
    padding-top: 0.25rem;
    margin-bottom: 0.25rem;
    transform: translateX(-50%); 
    justify-content: center; 
}

.bookmark-options:hover {
    display: flex;
    width: 12.5rem;
    padding-bottom: 0.5rem;
    color: #333;
    margin-left: 4.5rem;
    gap: 0.75rem;
    padding-top: 0.25rem;
    margin-bottom: 0.25rem;
    transform: translateX(-50%); 
    justify-content: center; 
}

.bookmark-options {
    display: none;
    border: none;
    text-align: center;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.bookmark-options button {
    width: 5rem;
    color: #181818;   
    background-color: #00000021;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
}

.bookmark-options button:hover {
    background-color: #0000005e;
    color: rgb(243, 243, 243);
}

.bookmarks a {
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.695);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.bookmarks a:hover {
    display: block;
    font-weight: bold;
    text-decoration: underline;
}

.ask-ai textarea{
    text-align: left;
    width: 100%;
    padding: 10px 25px;
    border: none;
    background-color: #ffffff2e;
    color: #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    background-image: url('/assets/ollama.png');
    background-size: 30px;
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 7px;
    color: #ffffff00;
    backdrop-filter: blur(0.5rem);
    
    resize: none;
    width: 200px;
    height: 400px;
}

.ask-ai textarea::-webkit-scrollbar {
    display: none;
}

.ask-ai textarea:focus{
    background-color: #ffffff2e;
    border: none;
    outline: none;
    background-image: none;
    color:#ff8400;
    backdrop-filter: blur(0.5rem);
}

.ask-ai {
    position: absolute;
    margin-top: 350px;
    right: 3rem;
    width: 200px;
    height: 400px;
}

.delete-ai button {
    position: absolute;
    background: none;
    border: none;
    border-radius: 1rem;
    bottom: 0rem;
    left: 0rem;
}

.delete-ai button img {
    height: 2rem;
    width: auto;
}

.delete-ai button img:hover {
    background-color: #33333320;
}

.copy-ai button {
    position: absolute;
    background: none;
    border: none;
    border-radius: 1rem;
    bottom: 0rem;
    right: 0rem;
}

.copy-ai button img {
    height: 2rem;
    width: auto;
}

.copy-ai button img:hover {
    background-color: #33333320;
}

.functions {
    text-align: center;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    width: 200px;
    height: 16rem;
    border: none;
    background-color: #ffffff2e;
    color: #ffffff6e;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(0.5rem);
    flex-direction: column; 
    align-items: center;
}

.functions h1 {
    margin-top: 0.1rem;
    margin-bottom: 0.75rem;
    border-bottom: 0.25rem solid #ffffff6e;
    width:140px;
}

.functions button {
    width: 7rem;
    color: #ffffff6e;   
    background-color: #00000021;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    margin-bottom: 0.9rem;
}

.functions button:hover{
    background-color: #0000004e;
}

.actions {
    overflow-y:auto;
}

.actions::-webkit-scrollbar {
    display: none;
}

.upcoming-tasks {
    text-align: center;
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    width: 200px;
    height: 16rem;
    border: none;
    background-color: #ffffff2e;
    color: #ffffff6e;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(0.5rem);
    flex-direction: column; 
    align-items: center;   
}

.tasks {
    overflow-y:auto;
}

.tasks::-webkit-scrollbar {
    display: none;
}

.upcoming-tasks h1 {
    margin-top: 0.1rem;
    border-bottom: 0.25rem solid #ffffff6e;
    width:170px;
    margin-bottom: 0.5rem;
}

.tasks div {
    font-size: 1.0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    color: #ffffffb6
}

.tasks div:hover {
    font-weight: bold;
    color: #ffffffd5
}

.firsttask {
    padding-top: 0;
    margin-top: 0;
}